<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
  <targets>
    <target name="file" xsi:type="File" fileName="E:\Documents\Log\WebsideScatch\${shortdate}.txt" 
            layout="[ThreadId ${threadid}] ${date:format=HH\:mm\:ss.fff} ${level} ${logger:shortName=true:padding=25}: ${message} ${exception:format=tostring}"/>
    <target name="console" xsi:type="Console"
           layout="[ThreadId ${threadid}] ${date:format=HH\:mm\:ss} ${level} ${logger:shortName=true:padding=25} ${message}"/>
    <targets>
    </targets>
  </targets> 
  <rules> 
    <logger name="*" minlevel="Trace" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules> 
</nlog>